/*Main css*/

/*
*{
	border: 1px solid rgba(100,100,100,0.8);
}



/**********************************Accueil**************************/
.masthead{
	background-image:url(img/accueilimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height:85vh;
}

.masthead h1{
	margin-top:25vh;
}

/**********************************Connexion**************************/

#pageConnexion{
	background-image:url(img/connexionFond.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.form-group.requiredField .control-label:after { 
	content:"*";
	color:red;
}

/**********************************ConnectedAccueil**************************/

#listeProjet{
	overflow-x:scroll;
	max-height:20em;
}

/**********************************MonProfil**************************/


.imgProfil{
	width:70px;
	height:70px;
	border-radius:100%;
	border:1px solid gray;
}

#listeEleve{
	overflow-y:scroll;
	max-height:80vh;
}

/**********************************CreerProjet**************************/

.imgProjet{
	border-radius:3px;
	border:1px solid DarkGray;
	height:180px;
	width:286px;
}


/**********************************Projet**************************/

/*		Image de fond 
#pageProjet{
	background-image:url(img/projetFond.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
*/

#listeFonctionnalités > div, #listeFonctionnalités > a{
	min-height:30vh;
}

/**********************************Fonctionnalités**************************/

table{
	box-shadow: 10px 10px 5px grey;
}

.nomUserStory input{
	border-radius:5px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2em;
}

/**********************************Footer**************************/

/*Pour que le footer soit en bas*/
#pageProfil, #pageRejoindreProjet, #pageProjet, #pageListeProjet, #pageFonctionnalite{				
	min-height:75vh;
}