/*Main css*/

/*
*{
	border: 1px solid rgba(100,100,100,0.8);
}
*/


/**********************************Accueil**************************/
.masthead{
	background-image:url(img/accueilimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height:90vh;
}

.masthead h1{
	margin-top:25vh;
}

/**********************************Connexion**************************/

#pageConnexion{
	background-image:url(img/connexionFond.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/**********************************ConnectedAccueil**************************/

#listeProjet{
	overflow:scroll;
	max-height:20em;
}

/**********************************MonProfil**************************/

#imgProfil img{
	width:70px;
	height:70px;
	border-radius:100%;
	border:1px solid gray;
}