/*Main css*/

/*
*{
	border: 1px solid rgba(100,100,100,0.8);
}



/**********************************Accueil**************************/
.masthead{
	background-image:url(img/accueilimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height:90vh;
}

.masthead h1{
	margin-top:25vh;
}

/**********************************Connexion**************************/

#pageConnexion{
	background-image:url(img/connexionFond.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.form-group.requiredField .control-label:after { 
	content:"*";
	color:red;
}

/**********************************ConnectedAccueil**************************/

#listeProjet{
	overflow-x:scroll;
	max-height:20em;
}

/**********************************MonProfil**************************/


.imgProfil{
	width:70px;
	height:70px;
	border-radius:100%;
	border:1px solid gray;
}

#listeEleve{
	overflow-y:scroll;
	max-height:80vh;
}

/**********************************CreerProjet**************************/

.imgProjet{
	border-radius:3px;
	border:1px solid DarkGray;
	height:180px;
	width:286px;
}

/**********************************Footer**************************/

/*Pour que le footer soit en bas*/
#pageProfil, #pageRejoindreProjet{				
	min-height:75vh;
}