<!-- Navigation pour les Anonymous-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="col-2">
			<a class="navbar-brand" href="accueil">Supervygile</a>
		</div>
		<div class="collapse navbar-collapse col-10 justify-content-end" id="navbarLinks">
			<a href="monProfil"><button class="btn btn-outline-light" type="button">Mon Profil</button></a>
			<a href="signout"><button class="btn btn-outline-danger" type="button">Déconnexion</button></a>
		</div>
	</nav>