{% extends 'headTemplate.html.twig' %}

{% block body %}
	{% include 'topTemplate.html.twig' %}
	
	
	
<!-- Page d'inscription et de connexion -->   
   <div id="pageConnexion" class="col-md-12">
	  <div class="container">
		</br>
		<div class="col-md-6 " style="display:inline-block" id="inscriptionForm">										<!--Partie Inscription -->
			<div class="row">													
				</br>
				<div class="offset-4 col-md-8 "> <h1>Inscription</h1> </div>											<!-- Titre en haut -->
			</div>
			</br></br></br>
			<form action="register" class="form-horizontal col-md-12 " method="POST">
				
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Login : </label>
						<div class="col-md-8" style="display:inline-block">
							<input type="text" class="form-control" placeholder="EmileZola" name="inscLogin" required>
							{% if errLogin is defined %}<p>{{ errLogin }}</p>{% endif %}
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Mot de passe :</label>
						<div class="col-md-8" style="display:inline-block">
							<input type="password" class="form-control" placeholder="(au moins 8 caractères)..." name="inscPassword" required>
							
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Confirmer le mot de passe :</label>
						<div class="col-md-8" style="display:inline-block">
							<input type="password" class="form-control" placeholder="Entrer de nouveau votre mot de passe..." name="confirmPwd" required>
							
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Mail : </label>
						<div class="col-md-8" style="display:inline-block">
							<input type="email" class="form-control" placeholder="emile.zola@imt-lille-douai.fr" name="mail" required>
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form- requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Nom :</label>
						<div class="col-md-8" style="display:inline-block">
							<input type="text" class="form-control" placeholder="Zola" name="nom" required>
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form-group col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Prénom :</label>
						<div class="col-md-8" style="display:inline-block">
							<input type="text" class="form-control" placeholder="Emile" name="prenom" required>
						</div>
					</div>
                </div>
				
				
				
				
				</br></br>
				<input class="offset-4 inputButton btn btn-lg btn-success" type="submit" value="Inscription" />
				
            </form>
			
		</div>
		                  
		<div class="col-md-5" style="display:inline-block; vertical-align:top;">													<!--Partie Connexion -->
			<div class="row">
				</br>
				<div class="offset-4 col-md-8"> <h1>Déja inscrit ?</h1> </div>
			</div>
			</br></br></br>
			
			<form action="signin" class="form-horizontal col-md-12 " method="POST">
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Login : </label>
						<div class="col-md-8" style="display:inline-block">
							<input type="text" class="form-control" placeholder="Entrer votre login..." name="inscLogin" required>
							{% if errConn is defined %}<p>{{ errConn }}</p>{% endif %}
						</div>
					</div>
                </div>
				
				<div class="row">
					<div class="form-group requiredField col-md-12 ">
						<label for="text" class="col-md-3 control-label" style="display:inline-block">Mot de passe :</label>
						<div class="col-md-8" style="display:inline-block">
							<input type="password" class="form-control" placeholder="Entrer votre mot de passe..." name="inscPassword" required>
						</div>
					</div>
                </div>	
				
				</br></br>
				<input class="offset-6 inputButton btn btn-lg btn-success" type="submit" value="Connexion" />
            </form>
		</div>
		</br></br></br>
	</div>
</div>

	{% include 'footTemplate.html.twig' %}
{% endblock %}