<!-- Navigation pour les Anonymous-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="col-2">
			<a class="navbar-brand" href="{{ path('connectedAccueil') }}">Supervygile</a>
		</div>
		<div class="col-10 float-right" id="navbarLinks">
			<a href="{{ path('signout') }}"><button class="btn btn-outline-danger ml-1 float-right" type="button">Déconnexion</button></a>
			<a href="{{ path('monProfil', {'onglet': 'General'}) }}"><button class="btn btn-outline-light ml-1 float-right" type="button">Mon Profil</button></a>
		</div>
	</nav>