{% extends 'headTemplate.html.twig' %}

{% block body %}
	{% include 'connectedTopTemplate.html.twig' %}

	<!-- Page mon profil -->
	
	<div class="container">
	
		<div class="row mt-5 mb-5 text-center">
			<a href="connectedAccueil" class="btn btn-success mx-auto"> Retour à la liste des projets </a>
		</div>
		
		
		<!-- Barre de naviguation verticale -->		  
		 <div class="row">
			<div class="col-3">
				<div class="btn-group-vertical col-12" >
					<a href="{{ path('monProfil', {'onglet': 'General'}) }}" class="col-12"><button type="button" class="btn btn-info active">Mon Profil</button></a>
					<a href="{{ path('monProfil', {'onglet': 'Classe'}) }}" class="col-12"><button type="button" class="btn btn-info col-12">Ma Classe</button></a>
					<a href="{{ path('monProfil', {'onglet': 'Parametres'}) }}" class="col-12"><button type="button" class="btn btn-info col-12">Paramètres</button></a> 
				</div>
			</div>
		  
		  
		  
			<div class="col-9">
				<div class="tab-content" id="nav-tabContent">
				
					{# <p> {{ nom_onglet }} </p> #}
					
					{% include 'profil' ~ nom_onglet ~ 'Template.html.twig' %} 
					
				</div>
			</div>
			  
		</div>
	</div>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>
		
	{% include 'footTemplate.html.twig' %}
	
{% endblock %}